html, body {
  height: 100%;
  width: 100%;
  color: #262261;
}

a {
  color: #262261;
  text-decoration: none;
}

nav ul li {
  list-style: none;
  padding: .2rem 0;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #8fd3d9;
}

main > ol {
  list-style-type: upper-roman;
}

li + ol {
  list-style-type: lower-roman;
}

table {
  border: 1px solid #8fd3d9;
  font-size: 1.5em;
  font-family: monospace;
}

thead {
  background-color: black;
  color: white;
}
td {
  color: #9c96ee;
}

header {
  margin: 1rem 1rem;
}

nav {
  padding: .2rem;
}

footer {
  padding: .5rem;
}

main {
  font-weight: light;
}

label {
  display: block;
}

input {
  border: 1px solid #262261;
  border-radius: 30px;
  margin-bottom: 1rem;
  padding: .5rem .7rem;
}

input[type="submit"] {
  background-color: #262261;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus{
  background: #8fd3d9;
}

.grid-layout {
  display: grid;
  grid-template-areas:
    "header header header"
    "navbar main aside"
    "footer footer footer";
}

#header {
  grid-area: header;
}

#navbar {
  grid-area: navbar;
}

#main {
  grid-area: main;
}

#aside {
  grid-area: aside;
}

#footer {
  grid-area: footer;
}

.canvas {
  border: 1px solid #000;
}

h1 {
  text-decoration: underline;
}

p {
  font-style: italic;
}

img {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.odd {
  background-color: #c0e9ed;
}

.even {
  background-color: #8fd3d9;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  body {
    background-color: #eee;
  }
  .grid-layout {
  grid-template-areas:
    "header"
    "navbar"
    "main" 
    "aside"
    "footer";
  }
}
