html, body {
  height: 100%;
  width: 100%;
  color: #262261;
}

a {
  color: #262261;
  text-decoration: none;
}

nav ul li {
  list-style: none;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #8fd3d9;
}

main > ol {
  list-style-type: upper-roman;
}

li + ol {
  list-style-type: lower-roman;
}

table {
  border: 1px solid #262261;
}

thead {
  background-color: #8fd3d9;
}
